// Place all the styles related to the www controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  width: 1024px;
  margin: 0 auto;
  background-color: #fff;
  font-family: verdana;
  padding-top: 50px;
}

.brandLogo{
  /*width: 1024px;*/
  height: 300px;
  margin-top: 25px;
  border: 0;
}

#contactsInfo{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size:15px;
  color: #282E24;
}


#menu {
  font-family: Coming Soon,cursive;
}

.activated_menu_item {
  text-decoration: underline;
  font-weight: bolder;
  color: blue;
}

a.menu_items:link {
  color: blue;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-decoration: none;
}
a.menu_items:visited {
  color: blue;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
a.menu_items:hover {
  color: cornflowerblue;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-decoration: underline;
}
a.menu_items:active {
  color: #333333;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}


#page-banner {
  background-color: #b3cc05;
  height: 100px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  line-height: 100px;
  color: #ffffff;
  text-align: center;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

h2 {
  color: rgb(1, 82, 123);
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
}

#page-content {
  color: rgb(1, 82, 123);
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
  padding: 5px;
  text-align: justify;
}

footer {
  font-size: 12px;
  display: block;
  background-color: #b3cc05;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  // Add transparency effect to background
}

footer div {
  display: inline-block;
  height: 50px;
  padding-top: 15px;
}


#sidebar {
  float: left;
  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  width: 150px;
  background-color: #fecf00;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#sidebar ul {
  padding: 0;
}
#sidebar ul li {
  list-style: none;
  padding: 10px 0 10px 0;
  font-size: 13px;
}


#sidebar-content {
  color: rgb(1, 82, 123);
  font-family: Helvetica, Arial, Tahoma, sans-serif;
  font-size: 14px;
  padding: 5px;
  padding-left: 210px;
  text-align: justify;
}


#sidebar a {
  // display: block;
  // padding: 5px 25px 7px 25px;
  // width: 4em;
  text-align: center;
  -webkit-transition: .3s all ease-out;
  -moz-transition: .3s all ease-out;
  transition: .3s all ease-out;
  color: #01527B;
  text-decoration: none;
}

#sidebar a:hover {
  border-bottom: 1px solid #b3cc05;
  color: #01527B;
  font-weight: bold;
}

#sidebar li.active a {
  border-bottom: 3px solid #b3cc05;
  color: #01527B;
  font-weight: bold;
}
