<script type="text/javascript">
    $(document).ready(function() {
        $('#top_menu7').attr("class", "activated_menu_item");
    });
</script>

<div id="page-banner">
  Entre em contacto connosco
</div>
<div id="page">

  <!--<p style="border: dashed thin #cccccc; line-height: 150px; text-align: center;">GOOGLE MAP HERE...</p>-->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62258.103558652496!2d15.74140425!3d-12.769972849999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1bb775b4dbf6dfdb%3A0x43a78822d1399cdb!2sHuambo%2C+Angola!5e0!3m2!1spt-PT!2s!4v1405972083393"
          width="1000" height="350" frameborder="0" style="border:0; padding-left: 12px"></iframe>
  <p>O nosso email: geral@doistalentos.org</p>
  <p>Contacto telefónico: <%= image_tag("ao_flag.gif", height: "15px", title: "Angola") %> (00244) 935 659 439 / 916 830 235</p>


</div>
