<div id="page-banner">
  Entre em contacto connosco
</div>
<div id="page">

  <p style="border: dashed thin #cccccc; line-height: 150px; text-align: center;">GOOGLE MAP HERE...</p>
  <p>O nosso email: geral@doistalentos.org</p>
  <p>Contacto telefónico: <%= image_tag("ao_flag.gif", height: "15px", title: "Angola") %> (00244) 941 234 567</p>


</div>
