<div id="page">
  <div align="center">
    <%= link_to(image_tag("logo0.png", alt: "Dois Talentos", title: "Dois Talentos: Clique Para Entrar", class: "brandLogo"), www_welcome_path) %>
  </div>
  <div id="contactsInfo">
    Telf.: <%= image_tag("ao_flag.gif", height: "15px", title: "Angola") %> (+244) 935 659 439 / 916 830 235<br>
    <br>
    Morada: Rua de São João, s/nº, Bairro São João Popular. Huambo - Angola<br>
    Website: www.doistalentos.org<br>
    Email: geral@doistalentos.org<br>
  </div>
</div>
