<script type="text/javascript">
    $(document).ready(function() {
        $('#sidebar').hcSticky({
            top: 50,
            bottomEnd: 100,
            wrapperClassName: 'sidebar-sticky'
        });
    });
</script>

<div id="page-banner">
    Venha conhecer o nosso colégio...
</div>

<div id="sidebar">
  <ul>
      <li>Sidebar Menu!</li>
      <li>Sticked!</li>
  </ul>
</div>
<div id="page-content">

  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>

  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>


</div>