<script type="text/javascript">
    $(document).ready(function() {
        $('.slideshow').cycle({
            fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        });
    });
</script>

<div id="page-banner">
    Venha conhecer o nosso colégio...
</div>
<div id="page-content">
  <h2>Quem somos</h2>
  <p>O Colégio Dois Talentos é uma moderna instituição escolar a funcionar na província do Huambo desde 2015.
    Funciona com 15 salas de aula disponíveis. O colégio proporciona uma formação integral desde o 1º Nível,
    incluindo pré-escolar até Pré-universitário.</p>


</div>